<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056917026323-ibgofv3rvanf7oa7osc40f6c54ruot5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056917026323-ibgofv3rvanf7oa7osc40f6c54ruot5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAFFWR7dMTmzQuA-2b_ebI15ekpnEZ8M9E</string>
	<key>GCM_SENDER_ID</key>
	<string>1056917026323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.netlify.jongoldson.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bd196</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bd196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056917026323:ios:2781f74ba0505bd86ab1e6</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bd196.firebaseio.com</string>
</dict>
</plist>